<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","anchor":"ds-main","layout":{"type":"constrained"}} -->
<main id="ds-main" class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|6","padding":{"top":"var:preset|spacing|6","bottom":"var:preset|spacing|12"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--6);padding-bottom:var(--wp--preset--spacing--12)"><!-- wp:breadcrumbs {"className":"ds-breadcrumbs"} /-->

<!-- wp:designstack/lesson-header /-->

<!-- wp:post-content {"className":"ds-prose"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
